/*====== GENERALES ======*/

* {
    margin: 0;
    padding: 0;
    
}

*, *::before, *::after {
    box-sizing: border-box;
}
/*====== HEADER ======*/

.header {
    width: 100%;
    display: inline-flex;
    background-color: chartreuse;
    padding: .01px;
}

.i_cabecera {
    margin: 6px 6px;
}

.p_cabecera {
    padding: 20px 10px 0px 10px;
    text-align: center;
}

.lg_cabecera {
    width: 60px;
    padding: 5px 10px 0px 10px
}

.menu_cabecera {
    display: inline-block;
    margin: 5px 50px 6px 600px;
    padding: 10px 37px 0px 15px;;
}

.menu_cabecera ul {
    list-style: none;
    text-decoration: none;
}

.menu_cabecera ul li {
    text-align: center;
    float: left;
}

.menu_cabecera ul li a {
    padding: 6px;
    text-decoration: none;
    color: red;
    display: block;
    font-size: 18px;
}

.menu_cabecera ul li:hover a {
    text-decoration: underline;
}

.menu_cabecera ul li:hover:last-child a {
    text-decoration: none;
    color: blue;
    font-size: 22px;
}

/*====== MENU FLOTANTE ======*/

.menu_cabecera ul li ul {
    display: none;
    position: absolute;
    width: 50px;
    z-index: 1;
}

.menu_cabecera ul li:hover ul {
    display: block;
}

/*====== INICIO ======*/

.inicio {
    width: 100%;
    height: 650px;
    background-image: url(/img/salida.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    object-fit: cover;
}

h1 {
    color: black;
    text-align: center;
    padding: 200px 0px 0px 700px;
    font-size: 6em;
}

/*  */

