*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
    scroll-behavior: smooth;

    &::-webkit-scrollbar
    {
        width: 13px;
        height: 100vh;
        background-color: var(--color-scroll);
        border-radius: 10px;
        box-shadow: inset -3px -3px 6px var(--color-scrolltwo);
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: transparent;
        border-radius: 10px;
        border: 2px solid var(--color-scrolltwo);

        &:active
        {
            background-color: transparent;
            border: 2px solid var(--color-scrolltwo);
        }
    }
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}
