@charset "UTF-8";
:root {
  --color-primero:#551a8b;
  --color-segundo:#008080;
  --color-tercero:#ff0;
  --color-marktext:#00800066;
  --color-hover: #00808066;
  --color-scroll:#48D1CC;
  --color-scrolltwo:#4682B4; }

:root {
  --z-ineg: -1;
  --z-inor: 1;
  --z-iten: 10;
  --z-ione: 100;
  --z-imil: 1000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Handlee', cursive;
  scroll-behavior: smooth; }
  *::-webkit-scrollbar {
    width: 13px;
    height: 100vh;
    background-color: var(--color-scroll);
    border-radius: 10px;
    box-shadow: inset -3px -3px 6px var(--color-scrolltwo); }
  *::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--color-scrolltwo); }
    *::-webkit-scrollbar-thumb:active {
      background-color: transparent;
      border: 2px solid var(--color-scrolltwo); }

*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.bar {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around; }

.bar__img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: .5em;
  border: 3px solid var(--color-segundo); }

.bar__icon {
  width: 2.8rem;
  height: 2rem;
  background: linear-gradient(var(--color-segundo) 20%, transparent 20%, transparent 40%, var(--color-segundo) 40%, var(--color-segundo) 60%, transparent 60%, transparent 80%, var(--color-segundo) 80%);
  margin: 1.2rem 0;
  cursor: pointer; }
  @media screen and (min-width: 1024px) {
    .bar__icon {
      display: none; } }

.bar__nav {
  position: fixed;
  top: 5rem;
  right: -80vw;
  transition: right .5s ease-out; }
  .bar__nav.show {
    right: 0; }
  @media screen and (min-width: 1024px) {
    .bar__nav {
      position: relative;
      top: 0;
      right: 0; } }

.bar__menu {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
  height: 100vh;
  width: 190px; }
  @media screen and (min-width: 1024px) {
    .bar__menu {
      display: flex;
      height: 100%;
      width: 100%;
      background: transparent; } }

.bar__list {
  padding: 1.2rem 1.5rem; }
  .bar__list:hover {
    background-color: var(--color-hover); }
  @media screen and (min-width: 1024px) {
    .bar__list {
      display: flex;
      align-items: center;
      align-content: center;
      padding: 0 .3rem;
      position: relative; }
      .bar__list:hover .bar__submenu {
        display: block;
        z-index: var(--z-inor); }
      .bar__list:hover {
        background: none; } }

.bar__link {
  font-weight: 500;
  color: white; }
  @media screen and (min-width: 1024px) {
    .bar__link {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 800;
      padding: .3rem; }
      .bar__link:hover {
        background-color: var(--color-hover);
        border-radius: 10px; } }

.bar__submenu {
  display: none; }
  @media screen and (min-width: 1024px) {
    .bar__submenu {
      position: absolute;
      top: 75%; }
      .bar__submenu .bar--links {
        padding: .5rem; }
        .bar__submenu .bar--links:hover {
          background-color: var(--color-hover);
          border-radius: 25px; } }

.fas.fa-chevron-circle-left {
  position: absolute;
  top: 55%;
  left: 30%; }

header {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(120deg, rgba(166, 192, 254, 0.5) 0%, rgba(246, 128, 132, 0.5) 100%), url("/src/images/hugo&yuli.jpg");
  background-size: cover;
  object-fit: cover; }
  @media screen and (min-width: 640px) {
    header {
      height: 350px;
      background-position: bottom; } }
  @media screen and (min-width: 1024px) {
    header {
      height: 700px;
      background-position-y: center;
      background-attachment: fixed; } }

body {
  background-image: url("/src/images/torre_tokyo.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: center bottom;
  background-position-x: center;
  object-fit: cover;
  background-repeat: no-repeat; }

section {
  width: 100%; }

footer {
  width: 100%;
  background-color: black;
  position: absolute; }

.corners {
  padding: 1.5rem 2rem; }
  @media screen and (min-width: 640px) {
    .corners {
      padding: 1rem 1.8rem; } }

.slogan__pg {
  font-size: 2em;
  padding-top: 1.5rem;
  padding-left: 1rem;
  font-family: 'Sansita Swashed', cursive;
  font-weight: 600;
  margin: 0; }
  .slogan__pg:nth-of-type(2) {
    padding-top: 0; }
  @media screen and (min-width: 640px) {
    .slogan__pg {
      font-size: 3em;
      padding-top: 2rem;
      padding-left: 1.5rem; } }
  @media screen and (min-width: 1024px) {
    .slogan__pg {
      font-size: 7em;
      padding-top: 6rem;
      padding-left: 3rem; } }

.content .time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  @media screen and (min-width: 640px) {
    .content .time {
      width: calc(100% - 450px); } }

.countdownBx__title {
  text-align: center;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  list-style: 2em;
  padding-top: 2rem; }
  @media screen and (min-width: 640px) {
    .countdownBx__title {
      font-size: 1.5em;
      letter-spacing: 4px;
      line-height: 4em; } }
  .countdownBx__title .countdownBx__span {
    font-size: 5em;
    font-weight: 700; }
    @media screen and (min-width: 640px) {
      .countdownBx__title .countdownBx__span {
        font-size: 6em; } }
  .countdownBx__title i {
    font-style: initial;
    color: var(--color-tercero); }

.countdown {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .countdown div {
    position: relative;
    width: 100px;
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: 800;
    margin: 0 15px;
    margin-top: -25px;
    z-index: var(--z-ineg); }
    @media screen and (min-width: 640px) {
      .countdown div {
        font-size: 2.5em; } }
    .countdown div::before {
      content: 'text';
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 100%;
      height: 35px;
      color: black;
      font-size: 0.35em;
      font-weight: 800;
      line-height: 35px;
      letter-spacing: 1px;
      text-transform: uppercase; }

.countdown #day::before {
  content: 'Días'; }

.countdown #hour::before {
  content: 'Horas'; }

.countdown #minute::before {
  content: 'Minutos'; }

.countdown #second,
.countdown #second::before {
  content: 'Segundos';
  color: var(--color-tercero); }

.written {
  text-align: center; }

.written__title {
  font-size: 2em;
  font-weight: 600;
  color: black; }

.written__pg {
  margin-top: .5em;
  font-size: 1.2em;
  padding-left: .7em;
  padding-right: .7em;
  font-weight: 600;
  line-height: 1.4rem; }
  .written__pg:last-child {
    padding-bottom: .8em; }
  .written__pg .written__strong {
    background-color: var(--color-marktext);
    color: var(--color-primero); }
  @media screen and (min-width: 1024px) {
    .written__pg {
      line-height: 1.7rem; } }

.scrollbar {
  width: 100%;
  height: 3em; }

.scrollbar__pg {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.3em;
  padding: 5px 0 6px 0;
  animation-name: desplazamiento;
  animation-duration: 20s;
  animation-iteration-count: infinite; }
  @media screen and (min-width: 640px) {
    .scrollbar__pg {
      animation-name: segundodesplazamiento;
      font-size: 1.6em; } }
  @media screen and (min-width: 1024px) {
    .scrollbar__pg {
      animation-name: tercerdesplazamiento;
      font-size: 1.8em; } }

@keyframes desplazamiento {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 160px; }
  100% {
    margin-left: 0px; } }

@keyframes segundodesplazamiento {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 400px; }
  100% {
    margin-left: 0px; } }

@keyframes tercerdesplazamiento {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 1080px; }
  100% {
    margin-left: 0px; } }
  .scrollbar__pg .scrollbar__img {
    width: 25px; }
    @media screen and (min-width: 640px) {
      .scrollbar__pg .scrollbar__img {
        width: 30px; } }

.multimedia {
  display: flex;
  justify-content: center;
  align-items: center; }

.multimedia__content {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  @media screen and (min-width: 1024px) {
    .multimedia__content {
      width: 1200px; } }

.multimedia__box {
  position: relative;
  width: 220px;
  height: 220px;
  display: flex;
  margin: 40px; }
  .multimedia__box .multimedia__imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    z-index: var(--z-iten); }
    .multimedia__box .multimedia__imgBx .multimedia__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .multimedia__box:hover .multimedia__imgBx {
    transform: translate(-35px, -35px); }
  .multimedia__box:hover .multimedia__contentBx {
    transform: translate(35px, 35px); }

.multimedia__contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: var(--z-inor);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
  transition: 0.5s ease-in-out; }
  .multimedia__contentBx .multimedia__pg {
    font-size: 20px;
    color: black;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center; }

.video {
  display: grid;
  grid-template-rows: repeat(11 ifr);
  gap: 1em; }
  @media screen and (min-width: 640px) {
    .video {
      margin-left: 1.2rem;
      margin-right: 1.2rem; } }
  @media screen and (min-width: 1024px) {
    .video {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 5.5em 1fr 1fr 1fr 1fr 1fr;
      margin-bottom: 2.5em; } }

.video__title {
  font-size: 1.5em;
  text-align: center;
  margin: auto; }
  @media screen and (min-width: 640px) {
    .video__title {
      font-size: 1.7em; } }
  @media screen and (min-width: 1024px) {
    .video__title {
      grid-column: span 2;
      font-size: 2em; } }

.video__content {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  position: relative; }
  .video__content::before {
    content: '';
    display: block;
    padding-bottom: 100%; }
  .video__content iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid white; }

.clock__title {
  color: white;
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.5em;
  margin-bottom: 1rem;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .clock__title {
      font-size: 2.2em; } }

.clock__watch {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 1024px) {
    .clock__watch {
      background-color: rgba(255, 255, 255, 0.055); } }

.simply-section {
  width: 100px;
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 1024px) {
    .simply-section {
      width: 150px;
      margin: 40px 40px; } }

.simply-amount {
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  color: white; }
  @media screen and (min-width: 1024px) {
    .simply-amount {
      font-size: 2.5em; } }

.simply-word {
  font-size: 1em;
  color: white; }
  @media screen and (min-width: 1024px) {
    .simply-word {
      font-size: 1.5em; } }

.phases {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 1rem;
  margin-bottom: .5rem; }
  @media screen and (min-width: 1024px) {
    .phases {
      height: 2rem; } }

.phases__pg {
  text-align: center;
  font-size: 1.2em; }
  @media screen and (min-width: 1024px) {
    .phases__pg {
      font-size: 1.5em; } }

.phases__link {
  color: white; }
  .phases__link:hover {
    color: var(--color-hover);
    border-bottom: 1px solid var(--color-hover); }

.icon {
  display: none; }
  @media screen and (min-width: 1024px) {
    .icon {
      display: flex;
      position: fixed;
      bottom: .2rem;
      right: .2rem;
      width: 3rem;
      height: 3rem;
      z-index: var(--z-ineg); } }

.go-up {
  width: 0rem;
  height: 0rem;
  background-color: transparent;
  border: 2px solid var(--color-segundo);
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-ineg); }

.fa-angle-up {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: white;
  transition: .2s; }

.show {
  z-index: var(--z-iten); }
  .show .go-up {
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: var(--z-iten); }

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem; }
  50% {
    width: 4rem;
    height: 4rem; }
  100% {
    width: 3rem;
    height: 3rem; } }
  .show .fa-angle-up {
    transform: translate(-50%, -50%) scale(1); }
