extends templates/templete
append variables
    - title = 'Hugo & Yuli'
    - pagesTitle = '5° Aniversario' 

include configurations/utils/mixins

block header_content
    .slogan
        p.slogan__pg Feliz 5°
        p.slogan__pg Aniversario

block main_content
    include configurations/layout/time
    include configurations/layout/love
    append variables 
    - scbarTitle = 'Hugo y Yuli'
    +scbar
    +multimedia
    - scbarTitle = '사랑해 Yuliana'
    +scbar
    include configurations/layout/sky
    include configurations/layout/video

block footer_content
    include configurations/layout/clock
    include configurations/layout/phases
    include configurations/layout/icon