// Secciones de como a ido cambiando la página
.phases
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 1rem;
    margin-bottom: .5rem;

    @include rwd (l) {
        height: 2rem;
    }
}

.phases__pg
{
    text-align: center;
    font-size: 1.2em;

    @include rwd (l) {
        font-size: 1.5em;
    }
}

.phases__link
{
    color: white;

    &:hover
    {
        color: var(--color-hover);
        border-bottom: 1px solid var(--color-hover);
    }
}