// Barras de Desplazamiento de nuestro Nombres & Amor
.scrollbar
{
    width: 100%;
    height: 3em;
}

.scrollbar__pg
{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.3em;
    padding: 5px 0 6px 0;
    animation-name: desplazamiento;
    animation-duration: 20s;
    animation-iteration-count: infinite;

    @include rwd (m) {
        animation-name: segundodesplazamiento;
        font-size: 1.6em;
    }

    @include rwd (l) {
        animation-name: tercerdesplazamiento;
        font-size: 1.8em;
    }

    @keyframes desplazamiento
    {
        0% {
            margin-left: 0px;
        }
        50% {
            margin-left: 160px;
        }
        100% {
            margin-left: 0px;
        }
    }

    @keyframes segundodesplazamiento
    {
        0% {
            margin-left: 0px;
        }
        50% {
            margin-left: 400px;
        }
        100% {
            margin-left: 0px;
        }
    }

    @keyframes tercerdesplazamiento
    {
        0% {
            margin-left: 0px;
        }
        50% {
            margin-left: 1080px;
        }
        100% {
            margin-left: 0px;
        }
    }

    .scrollbar__img
    {
        width: 25px;

        @include rwd (m) {
            width: 30px;
        }
    }
}