:root
{
    --color-primero:#551a8b;
    --color-segundo:#008080;
    --color-tercero:#ff0;
    --color-marktext:#00800066;
    --color-hover: #00808066;
    --color-scroll: #330867;
    --color-scrolltwo:#4682B4;
}

:root
{
    --z-ineg: -1;
    --z-inor: 1;
    --z-iten: 10;
    --z-ione: 100;
    --z-imil: 1000;
}

$path: '/src/images/';