
- let title = 'Titulo Principal'
- let pagesTitle = 'Titulo Paginas'
- let linkStyle = '/public/css/'
- let linkStylePages = '/public/css/'
- let linkReset = '/src/assets/css/'
- let nameStyle = 'Nombre de los Estilos'

- const carta = 'letters.html'
- const galeria = 'gallery.html'
- const anecdota = 'anecdotal.html'

- let pathImages = '/src/images/'
- let pathImagesGaleria = '/src/images/images_g/'
- let nameImages = 'Nombre Imagen'
- let nameMulti = 'Nombre Multimedio'
- let pathLinkPages = '/public/'
- let pathError = '/src/404/error.html'
- let index = '/index.html'

- let scbarTitle = 'Nombres'

- let multiTitle = 'Nombre Foto'
- let multiPg = 'Nombre Parrafo'

- let pathLinkJs = '/public/js/'

- let pathLinkAnecd = '/public/'
- let pathDocs = '/src/docs/'
- let format = '.jpg'