// Inicio Texto(1)
section#love
    .corners
        .written
            h2.written__title Mi Amor
            p.written__pg Esta página la cree para nosotros y para que quede registrado todo lo que siento por mi amor
                        |y obvio de igual manera ir practicando todo lo que voy aprendiendo de diseño web y más cosas así que
                        |esto solo es el principio ya que muchas cosas van a ir mejorando y me refiero a que unas cosas se quedan
                        |otras se van jajaja pero no solo esto es mío sino tuyo también amor y sabes porque.
            p.written__pg Porque aquí encontraras las cartas que me pediste, una galería de nuestras fotos y un
                        |anecdotario (como un diario) el cual iremos llenando con nuestras salidas o cosas que nosotros queremos,
                        |yo sé que ahorita no se va a ver tan genial como quisiera porque un tengo muchas cosas por aprender pero
                        |te aseguro mi cielo que poco a poco le iré metiendo mucho más cosas mi cielo.
            p.written__pg Yo no soy tan bueno escribiendo o haciendo cartitas lo sabes mi amor, pero aquí quiero
                        |plasmar todo todo mi amor por ti, porque estos 5 años a tu lado eh aprendido muchas cosas y no solo eso,
                        |me has cambiado de una manera muy grande.
            p.written__pg #[strong.written__strong TE AMO MI HERMOSA NOVIA] con todo mi corazón.