.phases
    .phases__content
        p.phases__pg
            a(href=`${pathError}`).phases__link
                |Fase 1
    .phases__content
        p.phases__pg
            a(href=`${pathError}`).phases__link
                |Fase 2