// Inicio Texto(2)
section#sky
    .corners
        .written
            h2.written__title Mi Cielo
            p.written__pg Gracias amor por todos estos años juntos, gracias por convivir con mi familia y soportar mis
                        |dramas, locuras y demás cosas yo sé que no soy una persona muy fácil de entender pero créeme amor que pese a
                        |eso cuando te digo que #[strong.written__strong TE AMO] lo hago de corazón y sin mentir. Tu eres mi novia hermosa y
                        |sobre todo con la persona con la quiero estar por mucho tiempo. De nuevo gracias mi amor y espero te guste
                        |esto que hice para ti, obvio al pasar del tiempo va a ir mejorando y se va a ir haciendo más grande y mucho
                        |más bonita. #[strong.written__strongTE AMO CORAZÓN MIO.]