// Inicio Time
section#time
    .time#soon
        .countdownBx 
            h2.countdownBx__title Próximo Aniversario
                br 
                span.countdownBx__span 20
                    i 21
            .countdown 
                #day 
                #hour 
                #minute 
                #second