// Inicio Videos
section#videos
    .corners
        .video
            h2.video__title Algunos de los videos que me has dedicado
            .video__content
                <iframe src="https://www.youtube.com/embed/MHfQbXiOJIU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video__content    
                <iframe src="https://www.youtube.com/embed/BxVAk5Cgp2k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video__content    
                <iframe src="https://www.youtube.com/embed/qmbuwP3LfkA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video__content   
                <iframe src="https://www.youtube.com/embed/od011D9Fx7s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video__content    
                <iframe src="https://www.youtube.com/embed/r3IzjBEOKAM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video__content    
                <iframe src="https://www.youtube.com/embed/cvgfPRo7e8A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video__content    
                <iframe src="https://www.youtube.com/embed/D9W4DLjmoOM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video__content    
                <iframe src="https://www.youtube.com/embed/ErmVTrebidQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video__content
                <iframe src="https://www.youtube.com/embed/B5B5pPVEwyw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
            .video__content    
                <iframe src="https://www.youtube.com/embed/FmRh8qxktMA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
