body
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
}

header,
section
{
    width: 100%;
}

.corners
{
    padding: 1.5rem 2rem;

    @include rwd (m) {
        padding: 1rem 1.8rem;
    }
}